<div class="box-info2">
  <div class="sub-titulo">
    <h5>Resumen</h5>
  </div>
  <div class="info-resumen">
    <div class="res-prod">
      <h5>Productos</h5>
    </div>
    <div class="row cant-productos">
      <div class="col-10">
        <span class="des-producto">Yogurt bebible GLORIA Durazno 1000ml</span
        ><br />
      </div>
      <div class="col-2 text-end">
        <strong><span>2</span></strong>
      </div>
    </div>
    <div class="row cant-productos">
      <div class="col-10">
        <span class="des-producto">Yogurt bebible GLORIA Lúcuma 1000ml</span
        ><br />
      </div>
      <div class="col-2 text-end">
        <strong><span>3</span></strong>
      </div>
    </div>
    <div class="row cant-productos">
      <div class="col-10">
        <span class="des-producto">Yogurt bebible GLORIA Fresa 1000ml</span
        ><br />
      </div>
      <div class="col-2 text-end">
        <strong><span>4</span></strong>
      </div>
    </div>
    <div class="d-flex text-end justify-content-end descrip-prec">
      <strong><h6>Total</h6></strong
      ><strong> <span class="precio4">S/ 58.65</span></strong>
    </div>

    <div class="res-bonifi">
      <h5>Bonificación</h5>
    </div>
    <div class="row cant-productos">
      <div class="col-10">
        <span class="des-producto">Yogurt bebible GLORIA Coco 1000ml</span>
      </div>
      <div class="col-2 text-end">
        <strong><span>2</span></strong>
      </div>
    </div>
    <div class="d-flex justify-content-end descrip-prec">
      <strong><h6>Ahorro</h6></strong
      ><strong><span class="precio4">S/ 8.55</span></strong>
    </div>
    <div class="btn-accso text-center">
      <a
        routerLink="/bonificaciones"
        type="button"
        class="btn btn-outline-danger btn-regresar"
        >Regresar</a
      ><br />
      <a routerLink="/bonificaciones/carrito" type="button" class="btn btn-danger btn-comprar">Comprar</a
      ><br />
    </div>
  </div>
</div>
