<div class="borde-col3">
  <div class="cuadro-titulo">
      <h5><i class="fa-solid fa-sort"></i> Ordenar</h5>
      <button type="button" class="btn btn-light boton-prec-down">Precio <i class="fa-solid fa-caret-down"></i></button>
      <button type="button" class="btn btn-secondary boton-prec-up">Precio <i class="fa-solid fa-caret-up"></i></button>
  </div>
  <div class="cuadro-lista">
      <h5><i class="fa-solid fa-filter filtro-i"></i> Filtros</h5>
      <h6>Marca</h6>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Ambrosoli <span>(15)</span>
          </label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Arcor <span>(13)</span>
          </label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Apetitas <span>(8)</span>
          </label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Bell's <span>(3)</span>
          </label>
      </div>
      <h6>Precio</h6>
      <div class="row pre-desde">
          <div class="col-6">
              <span>Desde</span>
          </div>
          <div class="col-5 d-flex">
              <span class="moneda">S/</span>
              <input type="text">
          </div>
      </div>
      <div class="row pre-hasta">
          <div class="col-6">
              <span>Hasta</span>
          </div>
          <div class="col-5 d-flex">
              <span class="moneda">S/</span>
              <input type="text">
          </div>
      </div>
      <div class="text-center botones-grup">
          <a href="#" type="button" class="btn btn-outline-danger ">Restablecer</a><br>
          <a href="#" type="button" class="btn btn-danger boton-aplicar">Aplicar</a><br>
      </div>
  </div>
</div>
