<section>
  <div class="fondo-atencion">
    <div class="container division-atencion">
      <div class="row conten">
        <div class="col-5">
          <h2><i class="fa-solid fa-headset fa-4x"></i> Atención al cliente</h2>
          <div class="cuadro-info">
            <h6>Where can i get some?</h6>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit et
              deleniti obcaecati quo modi nemo nulla qui labore aliquid fuga
              dolorem, repellendus molestiae numquam fugiat autem excepturi
              aspernatur cum! Nam!
            </p>
          </div>
        </div>
        <div class="col-7">
          <div class="cuadro-form p-4">
            <form action="">
              <div class="row segundo_conten">
                <div class="col-4">
                  <label for="">Nombres</label> <br />
                  <input type="name" required="required" /><br />
                  <label for="email">Correo</label><br />
                  <input type="email" required="required" /><br />
                  <label for="">Celular</label> <br />
                  <input type="tel" required="required" /><br />
                </div>
                <div class="col mensaje">
                  <label for="">Mensaje</label> <br />
                  <textarea
                    name=""
                    id=""
                    cols="35"
                    rows="8"
                    required="required"
                  ></textarea>
                  <br />
                  <div class="btn-accss text-end">
                    <button type="submit" class="btn btn-danger">Enviar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




