<div class="border-primary">
  <div class="cuadro-titulo">
    <h5>Historial de puntos</h5>
  </div>
  <div class="cuadro-lista">
    <a routerLink="/mi-cuenta/pedidos">
      <div class="borde-cuadro">
        <div class="row fila-1">
          <div class="col-5 column-5">
            <h6><i class="fa-solid fa-box-archive"></i>TP0000018264</h6>
          </div>
          <div class="col-3 text-end column-3">
            <span class="texto-plomo fw-bold">Transacción</span>
          </div>
          <div class="col-2 text-end column-2">
            <span class="color-puntos1">+800 pts</span>
          </div>
        </div>
        <div class="row fila-2">
          <div class="col-5 column-5">
            <span class="texto-plomo txt-act">Actividad:</span
            ><span class="texto-plomo">Puntos por compra</span>
          </div>
          <div class="col-3 text-end column-3">
            <span class="texto-plomo fw-bold">Fecha de registro</span>
          </div>
          <div class="col-2 text-end column-2">
            <span class="texto-plomo">11/05/2022</span>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/mi-cuenta/pedidos">
      <div class="borde-cuadro">
        <div class="row fila-1">
          <div class="col-5 column-5">
            <h6><i class="fa-solid fa-box-archive"></i> TP0000018264</h6>
          </div>
          <div class="col-3 text-end column-3">
            <span class="texto-plomo fw-bold">Transacción</span>
          </div>
          <div class="col-2 text-end column-2">
            <span class="color-puntos2">-244 pts</span>
          </div>
        </div>
        <div class="row fila-2">
          <div class="col-5 column-5">
            <span class="texto-plomo txt-act">Actividad:</span
            ><span class="texto-plomo">Canje de productos</span>
          </div>
          <div class="col-3 text-end column-3">
            <span class="texto-plomo fw-bold">Fecha de registro</span>
          </div>
          <div class="col-2 text-end column-2">
            <span class="texto-plomo">28/06/2022</span>
          </div>
        </div>
      </div>
    </a>

    <nav aria-label="Page navigation example">
      <ul  class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true"
              ><i class="fa-solid fa-caret-left color-red"></i
            ></span>
          </a>
        </li>
        <span class="pag-pdn">Página</span>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <span class="de-pdn">de</span>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true"
              ><i class="fa-solid fa-caret-right color-red"></i
            ></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
