# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# !main project folders
!src/app/guards/.gitkeep
!src/app/interceptors/.gitkeep

!src/app/data/mocks.gitkeep
!src/app/layouts/.gitkeep

!src/app/modules/auth/.gitkeep
!src/app/modules/home/.gitkeep
!src/app/modules/root/.gitkeep

!src/app/shared/components/.gitkeep
!src/app/shared/modules/.gitkeep
# !end

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
