<!-- :: content for default  :: -->
<!-- TODO:content for default  -->

<!-- slide -->
<md-initial-slider></md-initial-slider>
<!-- end slide -->

<!-- benefits -->
<md-benefits></md-benefits>
<!-- end benefits -->

<!-- catalogue -->
<md-catalogue></md-catalogue>
<!-- end catalogue -->

<!-- coverage -->
<md-coverage></md-coverage>
<!-- end coverage -->

<!-- how-does-it-work -->
<md-how-does-it-work></md-how-does-it-work>
<!-- end how-does-it-work -->

<!-- have-questions -->
<md-have-questions></md-have-questions>
<!--  end have-cuestions -->

<!-- TODO: end content for default  -->
<!-- :: content for default  :: -->
