<section class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="">Inicio</a>
    </li>/
    <li class="nav-item">
      <a class="nav-link" routerLink="/acerca-de"><strong>Acerca de</strong></a>
    </li>
  </ul>
</section>

<section class="container">
  <div class="doc-contenido">
    <div class="row">
      <div class="col-2">
        <img src="/assets/images/midespensa-logo.svg" alt="">
      </div>
      <div class="col-10">
        <h5>Mi Despensa</h5>
        <br>
        <p> Versión: 0.9.8 <br>
          Copyright @2020 digitalink-A. Todos los derechos reservados.</p>
      </div>
    </div>
    <div class="compatible">
      <h6>Compatibilidad</h6>
      <p>La aplicación esta diseñada para ejecutarse de forma estable en navegadores actualizo, se recomienda Chromo
        88+. Puede usarse también en Firefox 66+ o Safari 11+, o para android Chrome 56+</p>
    </div>
    <div class="libreria">
      <h6>Librerías</h6>
      <div class="row">
        <div class="col-3">
          <i class="fa-solid fa-circle"></i> AntDesign <br>
          <i class="fa-solid fa-circle"></i> Facebook SDK <br>
          <i class="fa-solid fa-circle"></i> Flaticon <br>
          <i class="fa-solid fa-circle"></i> Formik <br>
          <i class="fa-solid fa-circle"></i> Iconfont+ <br>
          <i class="fa-solid fa-circle"></i> Moment.js <br>
          <i class="fa-solid fa-circle"></i> ReactJS <br>
          <i class="fa-solid fa-circle"></i> Redux <br>
        </div>
        <div class="col-8">
          <a href="https://ant.design"> https://ant.design/</a> <br>
          <a
            href="https://github.com/keppelen/react-facebook-login">https://github.com/keppelen/react-facebook-login</a><br>
          <a href="https://www.flaticon.es/">https://www.flaticon.es/</a><br>
          <a href="https://formik.org/">https://formik.org/</a><br>
          <a href="https://icofont.com/">https://icofont.com/</a><br>
          <a href="https://momentjs.com/">https://momentjs.com/</a><br>
          <a href="https://reactjs.org/">https://reactjs.org/</a><br>
          <a href="https://es.redux.js.org/">https://es.redux.js.org/</a>
        </div>
      </div>
    </div>
    <div class="text-start">
      <div class="row">
        <div class="col-4">
          <button><a href=""><i class="fa-solid fa-bug"></i> Reportar un error</a></button>
        </div>
        <div class="col-3">
          <button><a href=""><i class="fa-solid fa-comment"></i> Comentar</a></button>
        </div>
        <div class="col-4">
          <button><a href=""><i class="fa-solid fa-pencil"></i> Sugerir un cambio</a></button>
        </div>
      </div>
    </div>
  </div>
</section>
