<ng-container *ngIf="products.length > 0; else message ">
  <div class="box-info">
    <div class="sub-titulo">
        <h5>Mi cesta  <span>(16)</span></h5>
    </div>
    <div class="borde-cuadro">
        <div class="row">
            <div class="col-3 colum-d">
                <img src="/assets/images/product-loader.svg" alt="">
            </div>
            <div class="col-6 colum-e ">
                <h6>Gomitas Ambrosito / AMBROSOLI X100g</h6><br>
                <span>UND:</span><span class="txt-pre-uni">S/ 4.39</span><br>
                <strong><span>Total:</span><span class="txt-pre-total">S/ 13.17</span></strong>
            </div>
            <div class="col-3 colum-f text-center">
                <div class="bordecantid">
                    <h6 class="txtcant">Cantidad</h6>
                    <div class="botns-lab-seltc d-flex">
                        <button class="btn boton-menos">-</button>
                        <label for="">3</label>
                        <button class="btn boton-mas">+</button>
                    </div>
                </div>
                <a href="#" type="button" class="btn btn-outline-danger ">Eliminar</a><br>
            </div>
        </div>
    </div>
    <div class="borde-cuadro">
        <div class="row">
            <div class="col-3 colum-d">
                <img src="/assets/images/product-loader.svg" alt="">
            </div>
            <div class="col-6 colum-e ">
                <h6>Gomitas Ambrosito / AMBROSOLI X100g</h6><br>
                <span>UND:</span><span class="txt-pre-uni">S/ 4.39</span><br>
                <strong><span>Total:</span><span class="txt-pre-total">S/ 13.17</span></strong>
            </div>
            <div class="col-3 colum-f text-center">
                <div class="bordecantid">
                    <h6 class="txtcant">Cantidad</h6>
                    <div class="botns-lab-seltc d-flex">
                        <button class="btn boton-menos">-</button>
                        <label for="">3</label>
                        <button class="btn boton-mas">+</button>
                    </div>
                </div>
                <a href="#" type="button" class="btn btn-outline-danger ">Eliminar</a><br>
            </div>
        </div>
    </div>
    <div class="borde-cuadro">
        <div class="row">
            <div class="col-3 colum-d">
                <img src="/assets/images/product-loader.svg" alt="">
            </div>
            <div class="col-6 colum-e ">
                <h6>Gomitas Ambrosito / AMBROSOLI X100g</h6><br>
                <span>UND:</span><span class="txt-pre-uni">S/ 4.39</span><br>
                <strong><span>Total:</span><span class="txt-pre-total">S/ 13.17</span></strong>
            </div>
            <div class="col-3 colum-f text-center">
                <div class="bordecantid">
                    <h6 class="txtcant">Cantidad</h6>
                    <div class="botns-lab-seltc d-flex">
                        <button class="btn boton-menos">-</button>
                        <label for="">3</label>
                        <button class="btn boton-mas">+</button>
                    </div>
                </div>
                <a href="#" type="button" class="btn btn-outline-danger ">Eliminar</a><br>
            </div>
        </div>
    </div>
    <div class="borde-cuadro">
        <div class="row">
            <div class="col-3 colum-d">
                <img src="/assets/images/product-loader.svg" alt="">
            </div>
            <div class="col-6 colum-e ">
                <h6>Gomitas Ambrosito / AMBROSOLI X100g</h6><br>
                <span>UND:</span><span class="txt-pre-uni">S/ 4.39</span><br>
                <strong><span>Total:</span><span class="txt-pre-total">S/ 13.17</span></strong>
            </div>
            <div class="col-3 colum-f text-center">
                <div class="bordecantid">
                    <h6 class="txtcant">Cantidad</h6>
                    <div class="botns-lab-seltc d-flex">
                        <button class="btn boton-menos">-</button>
                        <label for="">3</label>
                        <button class="btn boton-mas">+</button>
                    </div>
                </div>
                <a href="#" type="button" class="btn btn-outline-danger ">Eliminar</a><br>
            </div>
        </div>
    </div>
    <div class="borde-cuadro">
        <div class="row">
            <div class="col-3 colum-d">
                <img src="/assets/images/product-loader.svg" alt="">
            </div>
            <div class="col-6 colum-e ">
                <h6>Gomitas Ambrosito / AMBROSOLI X100g</h6><br>
                <span>UND:</span><span class="txt-pre-uni">S/ 4.39</span><br>
                <strong><span>Total:</span><span class="txt-pre-total">S/ 13.17</span></strong>
            </div>
            <div class="col-3 colum-f text-center">
                <div class="bordecantid">
                    <h6 class="txtcant">Cantidad</h6>
                    <div class="botns-lab-seltc d-flex">
                        <button class="btn boton-menos">-</button>
                        <label for="">3</label>
                        <button class="btn boton-mas">+</button>
                    </div>
                </div>
                <a href="#" type="button" class="btn btn-outline-danger ">Eliminar</a><br>
            </div>
        </div>
    </div>
  </div>

  <nav aria-label="Navegación del listado de mi cesta">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true"><i class="fa-solid fa-caret-left color-red"></i></span>
        </a>
      </li>
      <span class="pag-pdn">Página</span>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <span class="de-pdn">de</span>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item">
        <a class="page-link" href="/layouts/log_inic_carrito.html" aria-label="Next">
          <span aria-hidden="true"><i class="fa-solid fa-caret-right color-red"></i></span>
        </a>
      </li>
    </ul>
  </nav>
</ng-container>
<ng-template #message>
  <md-empty-basket></md-empty-basket>
</ng-template>



