<section class="t-pregunt" id="tienes-dudas">
  <div class="row">
    <div class="container">
      <h2 class="text-primary">¿Tienes preguntas?</h2>
      <div class="tienes-preguntas col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="collapse-item">
          <h6>¿Qué es Mi Despensa? <i class="fa fa-plus"></i></h6>
          <hr />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              possimus labore atque, exercitationem maiores quidem eaque nulla,
              maxime beatae sunt dicta dolor accusantium alias. Modi harum
              delectus mollitia sint sunt. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Tempora a quisquam, sunt sit nihil nisi commodi
              eveniet, optio cupiditate error recusandae, tenetur quia laudantium
              cum odio ea ipsa nulla suscipit.
            </p>
          </div>
        </div>
        <div class="collapse-item">
          <h6>¿Cómo registro en Mi Despensa? <i class="fa fa-plus"></i></h6>
          <hr />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              possimus labore atque, exercitationem maiores quidem eaque nulla,
              maxime beatae sunt dicta dolor accusantium alias. Modi harum
              delectus mollitia sint sunt. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Tempora a quisquam, sunt sit nihil nisi commodi
              eveniet, optio cupiditate error recusandae, tenetur quia laudantium
              cum odio ea ipsa nulla suscipit. Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Id possimus labore atque,
              exercitationem maiores quidem eaque nulla, maxime beatae sunt dicta
              dolor accusantium alias. Modi harum delectus mollitia sint sunt.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora a
              quisquam, sunt sit nihil nisi commodi eveniet, optio cupiditate
              error recusandae, tenetur quia laudantium cum odio ea ipsa nulla
              suscipit.
            </p>
          </div>
        </div>
        <div class="collapse-item">
          <h6>¿Cómo descargo Mi Despensa? <i class="fa fa-plus"></i></h6>
          <hr />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              possimus labore atque, exercitationem maiores quidem eaque nulla,
              maxime beatae sunt dicta dolor accusantium alias. Modi harum
              delectus mollitia sint sunt. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Tempora a quisquam, sunt sit nihil nisi commodi
              eveniet, optio cupiditate error recusandae, tenetur quia laudantium
              cum odio ea ipsa nulla suscipit.
            </p>
          </div>
        </div>
        <div class="collapse-item">
          <h6>¿Qué días puedo recibir un pedido? <i class="fa fa-plus"></i></h6>
          <hr />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              possimus labore atque, exercitationem maiores quidem eaque nulla,
              maxime beatae sunt dicta dolor accusantium alias. Modi harum
              delectus mollitia sint sunt. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Tempora a quisquam, sunt sit nihil nisi commodi
              eveniet, optio cupiditate error recusandae, tenetur quia laudantium
              cum odio ea ipsa nulla suscipit.
            </p>
          </div>
        </div>
        <div class="collapse-item">
          <h6>
            ¿Hasta qué hora puedo realizar un pedido para recibirlo el día
            siguiente? <i class="fa fa-plus"></i>
          </h6>
          <hr />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              possimus labore atque, exercitationem maiores quidem eaque nulla,
              maxime beatae sunt dicta dolor accusantium alias. Modi harum
              delectus mollitia sint sunt. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Tempora a quisquam, sunt sit nihil nisi commodi
              eveniet, optio cupiditate error recusandae, tenetur quia laudantium
              cum odio ea ipsa nulla suscipit.
            </p>
          </div>
        </div>
        <div class="collapse-item">
          <h6>
            ¿Qué pasa si me olvido comprar un producto y me acuerdo más tarde?
            <i class="fa fa-plus"></i>
          </h6>
          <hr />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              possimus labore atque, exercitationem maiores quidem eaque nulla,
              maxime beatae sunt dicta dolor accusantium alias. Modi harum
              delectus mollitia sint sunt. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Tempora a quisquam, sunt sit nihil nisi commodi
              eveniet, optio cupiditate error recusandae, tenetur quia laudantium
              cum odio ea ipsa nulla suscipit.
            </p>
          </div>
        </div>
        <div class="collapse-item">
          <h6>
            ¿Cuál es la compra mínima para realizar un pedido?
            <i class="fa fa-plus"></i>
          </h6>
          <hr />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              possimus labore atque, exercitationem maiores quidem eaque nulla,
              maxime beatae sunt dicta dolor accusantium alias. Modi harum
              delectus mollitia sint sunt. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Tempora a quisquam, sunt sit nihil nisi commodi
              eveniet, optio cupiditate error recusandae, tenetur quia laudantium
              cum odio ea ipsa nulla suscipit.
            </p>
          </div>
        </div>
      </div>
      <div class="btn-accss text-center">
        <a
          routerLink="preguntas-frecuentes"
          type="button"
          class="btn btn-outline-danger"
          >Ver todas las preguntas</a
        >
      </div>
    </div>
  </div>
</section>
