<div class="list-group" id="list-tab" role="tablist">
  <a
    class="list-group-item list-group-item-action"
    routerLink="perfil"
    routerLinkActive="active"
    >Datos personales</a
  >

  <a
    class="list-group-item list-group-item-action"
    routerLink="direccion-de-entrega"
    routerLinkActive="active"
    >Direcciones de entrega</a
  >

  <a
    class="list-group-item list-group-item-action"
    routerLink="direccion-de-factura"
    routerLinkActive="active"
    >Direcciones de facturación</a
  >

  <a
    class="list-group-item list-group-item-action"
    routerLink="pedidos"
    routerLinkActive="active"
    >Mis pedidos</a
  >

  <a
    class="list-group-item list-group-item-action"
    routerLink="lista-de-deseos"
    routerLinkActive="active"
    >Lista de deseos</a
  >

  <a
    class="list-group-item list-group-item-action"
    routerLink="reclamos"
    routerLinkActive="active"
    (click)="changeForm('')"
    >Reclamos</a
  >
</div>
