<!-- slider banner -->
<md-slider></md-slider>

<section class="contain-er">
  <div class="menu-productos">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="parati-tab"
          data-bs-toggle="tab"
          data-bs-target="#parati-tab-pane"
          type="button"
          role="tab"
          aria-controls="parrati-tab-pane"
          aria-selected="true"
        >
          Para ti</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="masvendidos-tab"
          data-bs-toggle="tab"
          data-bs-target="#masvendidos-tab-pane"
          type="button"
          role="tab"
          aria-controls="masvendidos-tab-pane"
          aria-selected="false"
          >Más vendidos</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="losnuevos-tab"
          data-bs-toggle="tab"
          data-bs-target="#losnuevos-tab-pane"
          type="button"
          role="tab"
          aria-controls="losnuevos-tab-pane"
          aria-selected="false"
          >Los nuevos</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="mejorcalificado-tab"
          data-bs-toggle="tab"
          data-bs-target="#mejorcalificado-tab-pane"
          type="button"
          role="tab"
          aria-controls="mejorcalificado-tab-pane"
          aria-selected="false"
          >Mejor calificado</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="tendencias-tab"
          data-bs-toggle="tab"
          data-bs-target="#tendencias-tab-pane"
          type="button"
          role="tab"
          aria-controls="tendencias-tab-pane"
          aria-selected="false"
          >Tendencias de la semana</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="parati-tab-pane"
        role="tabpanel"
        aria-labelledby="parati-tab"
        tabindex="0"
      >
        <div class="row">
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-solid fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-accss text-center">
          <a href="#" type="button" class="lastboton btn btn-outline-danger"
            >Agregar todo al carrito</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="masvendidos-tab-pane"
        role="tabpanel"
        aria-labelledby="masvendidos-tab"
        tabindex="0"
      >
        <div class="row">
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-accss text-center">
          <a href="#" type="button" class="lastboton btn btn-outline-danger"
            >Agregar todo al carrito</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="losnuevos-tab-pane"
        role="tabpanel"
        aria-labelledby="losnuevos-tab"
        tabindex="0"
      >
        <div class="row">
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-accss text-center">
          <a href="#" type="button" class="lastboton btn btn-outline-danger"
            >Agregar todo al carrito</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="mejorcalificado-tab-pane"
        role="tabpanel"
        aria-labelledby="mejorcalificado-tab"
        tabindex="0"
      >
        <div class="row">
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-accss text-center">
          <a href="#" type="button" class="lastboton btn btn-outline-danger"
            >Agregar todo al carrito</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="tendencias-tab-pane"
        role="tabpanel"
        aria-labelledby="tendencias-tab"
        tabindex="0"
      >
        <div class="row">
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="box-producto">
              <div class="pro-imagen">
                <img src="/assets/images/product-loader.svg" alt="" />
              </div>
              <div class="pro-detalles">
                <div class="row">
                  <div class="col-10 text-start">
                    <h6 class="numbers">
                      Gomitas Ambrosito <br />
                      AMBROSOLI x 100g
                    </h6>
                  </div>
                  <div class="col-1">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                <p>S/4.39</p>
                <div class="btn-accss text-center">
                  <a href="#" type="button" class="btn btn-outline-danger"
                    >Agregar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-accss text-center">
          <a href="#" type="button" class="lastboton btn btn-outline-danger"
            >Agregar todo al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="promo-bonificaciones">
    <div class="row">
      <div class="col-md-6 text-end">
        <a routerLink="/promociones">
          <img
            src="/assets/images/promo-articulo@1.2x.png"
            alt=""
            width="100%"
          />
        </a>
      </div>
      <div class="col-md-6">
        <a routerLink="/bonificaciones">
          <img
            src="/assets/images/promo-paquete@1.2x.png"
            alt=""
            width="100%"
          />
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <a routerLink="/descuentos">
    <div class="img-descuentos"></div>
  </a>
</section>

<section>
  <div class="container">
    <div class="categ-productos-1">
      <div class="row">
        <div class="col-3 abarrotes">
          <img src="/assets/images/abarrotes copy.png" alt="" />
        </div>
        <div class="col-3 confiteria">
          <img src="/assets/images/confiteria.png" alt="" />
        </div>
        <div class="col-3 cuidado-bebe">
          <img src="/assets/images/cuidado-del-bebe.png" alt="" />
        </div>
        <div class="col-3 cuidado-personal">
          <img src="/assets/images/cuidado-personal.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <a routerLink="/mis-puntos" class="text-center">
    <div class="img-puntos"></div>
  </a>
</section>

<section>
  <div class="container">
    <div class="categ-productos-2">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3 mascotas">
          <a routerLink="/categoria/mascotas">
            <img src="/assets/images/mascotas.png" alt="" />
          </a>
        </div>
        <div class="col-3 cuidado-hogar">
          <a routerLink="/categoria/cuidado-del-hogar">
            <img src="/assets/images/cuidado-del-hogar.png" alt="" />
          </a>
        </div>
        <div class="col-3 licores">
          <a routerLink="/categoria/licores">
            <img src="/assets/images/licores.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modal initial -->
<md-modal-home></md-modal-home>
<!-- modal end initial -->
