<section class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="aside-catalogo">
        <h2 class="text-primary">El <mark>catálogo</mark> de Mi Despensa</h2>
        <!--
    <div>
      <div class="aside-cat-banner aside-cat-img1">
        <h4>Multimarca</h4>
        <img loading="lazy" src="/assets/images/abarrotes.png" alt="" />
        <img loading="lazy" src="/assets/images/sombra.png" alt="" class="img-sombra" />
      </div>
      <div class="aside-cat-banner aside-cat-img2">
        <h4>Gloria</h4>
        <img loading="lazy" src="/assets/images/marca-gloria.png" alt="" />
        <img loading="lazy" src="/assets/images/sombra.png" alt="" class="img-sombra" />
      </div>
      <div class="aside-cat-banner aside-cat-img3">
        <h4>CBC</h4>
        <img loading="lazy" src="/assets/images/gaseosas.png" alt="" />
        <img loading="lazy" src="/assets/images/sombra.png" alt="" class="img-sombra" />
      </div>
      <div class="aside-cat-banner aside-cat-img4">
        <h4>Levapan</h4>
        <img loading="lazy" src="/assets/images/panaderia.png" alt="" />
        <img loading="lazy" src="/assets/images/sombra.png" alt="" class="img-sombra" />
      </div>
    </div>
    -->
        <div class="cont">
          <div class="cols-products">
            <div class="col-category">
              <div class="name-category">Multimarca</div>
              <div class="space-product">
                <div class="box-product">
                  <img
                    src="/assets/images/abarrotes.png"
                    alt="product"
                    class="type-product"
                  />
                  <img
                    src="/assets/images/sombra.png"
                    alt="shadow"
                    class="shadow-product"
                  />
                </div>
              </div>
            </div>

            <div class="col-category">
              <div class="name-category">Gloria</div>
              <div class="space-product">
                <div class="box-product">
                  <img
                    src="/assets/images/marca-gloria.png"
                    alt="product"
                    class="type-product"
                  />
                  <img
                    src="/assets/images/sombra.png"
                    alt="shadow"
                    class="shadow-product under"
                  />
                </div>
              </div>
            </div>

            <div class="col-category">
              <div class="name-category">CBC</div>
              <div class="space-product">
                <div class="box-product">
                  <img
                    src="/assets/images/gaseosas.png"
                    alt="product"
                    class="type-product"
                  />
                  <img
                    src="/assets/images/sombra.png"
                    alt="shadow"
                    class="shadow-product"
                  />
                </div>
              </div>
            </div>

            <div class="col-category">
              <div class="name-category">Levapan</div>
              <div class="space-product">
                <div class="box-product">
                  <img
                    src="/assets/images/panaderia.png"
                    alt="product"
                    class="type-product"
                  />
                  <img
                    src="/assets/images/sombra.png"
                    alt="shadow"
                    class="shadow-product"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Se agrego esta div para mostrarlo partido en 2 cuando sea responsive -->
      <div class="cont">
        <div id="esconder">
          <div class="cols-products">
            <div class="col-category">
              <div class="name-category">CBC</div>
              <div class="space-product">
                <div class="box-product">
                  <img
                    src="/assets/images/gaseosas.png"
                    alt="product"
                    class="type-product"
                  />
                  <img
                    src="/assets/images/sombra.png"
                    alt="shadow"
                    class="shadow-product"
                  />
                </div>
              </div>
            </div>

            <div class="col-category">
              <div class="name-category">Levapan</div>
              <div class="space-product">
                <div class="box-product">
                  <img
                    src="/assets/images/panaderia.png"
                    alt="product"
                    class="type-product"
                  />
                  <img
                    src="/assets/images/sombra.png"
                    alt="shadow"
                    class="shadow-product"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

