<div class="box-info">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="combo-tab"
        data-bs-toggle="tab"
        data-bs-target="#combo-tab-pane"
        type="button"
        role="tab"
        aria-controls="combo-tab-pane"
        aria-selected="true"
      >
        Combo
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="bonificacion-tab"
        data-bs-toggle="tab"
        data-bs-target="#bonificacion-tab-pane"
        type="button"
        role="tab"
        aria-controls="bonificacion-tab-pane"
        aria-selected="false"
      >
        Bonificación
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="combo-tab-pane"
      role="tabpanel"
      aria-labelledby="combo-tab"
      tabindex="0"
    >
      <div class="borde-cuadro">
        <div class="row">
          <div class="col-3 colum-d">
            <img src="/assets/images/product-loader.svg" alt="" />
          </div>
          <div class="col-4 colum-e">
            <h5>Yogurt bebible GLORIA Durazno 1000 ml</h5>
            <br />
            <div class="d-flex">
              <h6>Cantidad:</h6>
              <div class="botns-lab-seltc d-flex">
                <button class="btn boton-menos">-</button>
                <label for="">2</label>
                <button class="btn boton-mas">+</button>
              </div>
            </div>
          </div>
          <div class="col-2 text-end colum-f">
            <span class="und">UND:</span> <br />
            <strong><span class="total">Total:</span></strong>
          </div>
          <div class="col-2 text-end colum-g">
            <span class="precio1">S/ 4.86</span><br />
            <strong><span class="precio2">S/ 19.44</span></strong>
          </div>
        </div>
      </div>
      <div class="borde-cuadro">
        <div class="row">
          <div class="col-3 colum-d">
            <img src="/assets/images/product-loader.svg" alt="" />
          </div>
          <div class="col-4 colum-e">
            <h5>Yogurt bebible GLORIA Fresa 1000 ml</h5>
            <br />
            <div class="d-flex">
              <h6>Cantidad:</h6>
              <div class="botns-lab-seltc d-flex">
                <button class="btn boton-menos">-</button>
                <label for="">4</label>
                <button class="btn boton-mas">+</button>
              </div>
            </div>
          </div>
          <div class="col-2 text-end colum-f">
            <span class="und">UND:</span> <br />
            <strong><span class="total">Total:</span></strong>
          </div>
          <div class="col-2 text-end colum-g">
            <span class="precio1">S/ 4.86</span><br />
            <strong><span class="precio2">S/ 19.44</span></strong>
          </div>
        </div>
      </div>
      <div class="borde-cuadro">
        <div class="row">
          <div class="col-3 colum-d">
            <img src="/assets/images/product-loader.svg" alt="" />
          </div>
          <div class="col-4 colum-e">
            <h5>Yogurt bebible GLORIA Lúcuma 1000 ml</h5>
            <br />
            <div class="d-flex">
              <h6>Cantidad:</h6>
              <div class="botns-lab-seltc d-flex">
                <button class="btn boton-menos">-</button>
                <label for="">3</label>
                <button class="btn boton-mas">+</button>
              </div>
            </div>
          </div>
          <div class="col-2 text-end colum-f">
            <span class="und">UND:</span> <br />
            <strong><span class="total">Total:</span></strong>
          </div>
          <div class="col-2 text-end colum-g">
            <span class="precio1">S/ 4.86</span><br />
            <strong><span class="precio2">S/ 19.44</span></strong>
          </div>
        </div>
      </div>
      <div class="borde-cuadro">
        <div class="row">
          <div class="col-3 colum-d">
            <img src="/assets/images/product-loader.svg" alt="" />
          </div>
          <div class="col-4 colum-e">
            <h5>Yogurt bebible GLORIA Lúcuma 1000 ml</h5>
            <br />
            <div class="d-flex">
              <h6>Cantidad:</h6>
              <div class="botns-lab-seltc d-flex">
                <button class="btn boton-menos">-</button>
                <label for="">3</label>
                <button class="btn boton-mas">+</button>
              </div>
            </div>
          </div>
          <div class="col-2 text-end colum-f">
            <span class="und">UND:</span> <br />
            <strong><span class="total">Total:</span></strong>
          </div>
          <div class="col-2 text-end colum-g">
            <span class="precio1">S/ 4.86</span><br />
            <strong><span class="precio2">S/ 19.44</span></strong>
          </div>
        </div>
      </div>
      <div class="borde-cuadro">
        <div class="row">
          <div class="col-3 colum-d">
            <img src="/assets/images/product-loader.svg" alt="" />
          </div>
          <div class="col-4 colum-e">
            <h5>Yogurt bebible GLORIA Lúcuma 1000 ml</h5>
            <br />
            <div class="d-flex">
              <h6>Cantidad:</h6>
              <div class="botns-lab-seltc d-flex">
                <button class="btn boton-menos">-</button>
                <label for="">3</label>
                <button class="btn boton-mas">+</button>
              </div>
            </div>
          </div>
          <div class="col-2 text-end colum-f">
            <span class="und">UND:</span> <br />
            <strong><span class="total">Total:</span></strong>
          </div>
          <div class="col-2 text-end colum-g">
            <span class="precio1">S/ 4.86</span><br />
            <strong><span class="precio2">S/ 19.44</span></strong>
          </div>
        </div>
      </div>
      <div class="borde-cuadro">
        <div class="row">
          <div class="col-3 colum-d">
            <img src="/assets/images/product-loader.svg" alt="" />
          </div>
          <div class="col-4 colum-e">
            <h5>Yogurt bebible GLORIA Lúcuma 1000 ml</h5>
            <br />
            <div class="d-flex">
              <h6>Cantidad:</h6>
              <div class="botns-lab-seltc d-flex">
                <button class="btn boton-menos">-</button>
                <label for="">3</label>
                <button class="btn boton-mas">+</button>
              </div>
            </div>
          </div>
          <div class="col-2 text-end colum-f">
            <span class="und">UND:</span> <br />
            <strong><span class="total">Total:</span></strong>
          </div>
          <div class="col-2 text-end colum-g">
            <span class="precio1">S/ 4.86</span><br />
            <strong><span class="precio2">S/ 19.44</span></strong>
          </div>
        </div>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="bonificacion-tab-pane"
      role="tabpanel"
      aria-labelledby="bonificacion-tab"
      tabindex="0"
    >
      <div class="tabla-bonifica">
        <ng-container *ngFor="let bonus of bonuses">
        <div
          class="detall-boni"
          data-popover-content
          data-cantidad="2"
          data-producto="Yogurt Bebible"
          data-marca="GLORIA Coco 1000 ml"
        >
            <div class="row">
              <div class="col-10">
                <span>{{ bonus.title }}</span>
              </div>
              <div class="col-1 text-end">
                <i class="fa-solid fa-angle-down"></i>
                <i class="fa-solid fa-angle-up"></i>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- DISEÑO POPOVER
      <div class="popover-content" style="position: relative;">
          <div class="image-popover">
              <img src="/assets/images/product-loader.svg" alt="">
          </div>
          <div class="text-popover">
              <h5><span>2</span>Leche condensada</h5>
              <span>Gloria x500g</span>
          </div>

      </div>-->
    <script>
      var popOversProducto = document.querySelectorAll(
        "[data-popover-content]"
      );
      popOversProducto.forEach(function (popover) {
        popover.addEventListener("mouseover", function (event) {
          var cantidad = popover.getAttribute("data-cantidad");
          var producto = popover.getAttribute("data-producto");
          var marca = popover.getAttribute("data-marca");
          var popdiv = document.createElement("div");
          popdiv.classList.add("popover-content");
          popdiv.innerHTML =
            '<div class="image-popover"><img src="/assets/images/product-loader.svg" alt=""></div><div class="text-popover"><h5><span>' +
            cantidad +
            "</span>" +
            producto +
            "</h5><span>" +
            marca +
            "</span></div>";
          popover.append(popdiv);
        });
        popover.addEventListener("mouseout", function (event) {
          var popdiv = document.querySelector(".popover-content");
          popdiv.remove();
        });
      });
    </script>
  </div>
</div>
