<section class="container" id="funcionamiento">
  <div class="row aside-funciona">

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="funcio-alineación">

          <div class="como-func-img">
            <img loading="lazy" src="/assets/images/man-with-phone-see-a-store.svg" alt="" />
          </div>

        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="funcio-alineación">

          <div class="como-func-contenido">

            <h2 class="text-primary">¿<mark>Cómo funciona</mark> Mi Despensa?</h2>

            <div class="como-func-conten-pasos">
              <div class="row">
                <div class="col-1">
                  <h5>1</h5>
                </div>
                <div class="col-11">
                  <p>
                    Accede con tu número con el cual te resgistraste en Mi Despensa.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 text-end">
                  <h5 class="numbers">2</h5>
                </div>
                <div class="col-11">
                  <p>
                    Selecciona el catálogo de donde quieres comprar, la dirección de
                    tu punto de venta e identifica la fecha de entrega de tu pedido.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 text-end">
                  <h5>3</h5>
                </div>
                <div class="col-11">
                  <p>
                    Elige los productos de tu preferencia y agrégalos a tu carrito
                    de compras.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 text-end">
                  <h5>4</h5>
                </div>
                <div class="col-11">
                  <p>
                    Verifica que los precios, descuentos y bonificaciones de tu
                    pedido estén conformes.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 text-end">
                  <h5>5</h5>
                </div>
                <div class="col-11">
                  <p>
                    Identifica cuando llega tu pedido y ¡ya está! Mi Despensa es tu
                    despensa.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

</section>
