<section class="container" id="beneficios">
  <div class="aside-beneficios">

      <h1 class="text-primary"><mark>Beneficios</mark> de Mi Despensa</h1>


        <div class="row align-items-center">

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <div class="li-opciones text-primary">
                      <i class="fa-sharp fa-solid fa-trophy fa-4x"></i>
                      <h6 class="text-primary">Productos</h6>
                      <p>Importantes marcas, de nuestro catálogo a tu negocio.</p>
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <div class="li-opciones text-primary">
                      <i class="fa-sharp fa-solid fa-truck-fast fa-4x"></i>
                      <h6 class="text-primary">Entrega</h6>
                      <p>Nuestros pedidos son entregados según la visita de tu zona.</p>
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <div class="li-opciones text-primary">
                      <i class="fa-sharp fa-solid fa-credit-card fa-4x"></i>
                      <h6 class="text-primary">Formas de pago</h6>
                      <p>Recibe tu pedido y págalo al contado.</p>
                  </div>
              </div>

        </div>


      <div class="row justify-content-center">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
              <div class="li-opciones text-primary">
                  <i class="fa-solid fa-headset fa-4x"></i>
                  <h6 class="text-primary">Soporte</h6>
                  <p>Nuestro equipo de soporte esta listo para ayudarte</p>
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
              <div class="li-opciones text-primary">
                  <i class="fa-solid fa-calendar-day fa-4x"></i>
                  <h6 class="text-primary">Planifica tus pedidos</h6>
                  <p>Organiza tus pedidos desde cualquier lugar y hora.</p>
              </div>
          </div>
      </div>
  </div>
</section>

