<header class="bg-primary text-end txt-fin header-dif">
  <div class="container">

    <div class="row">


        <div class="col-sm-12 esconder-menu">

          <a href="#"> Mercantil Inca</a> | <a href="#">Despensa de La Selva</a> | <a href="#">Almacenes de la selva</a> | <a
      href="#">Despensa Peruana</a>

        </div>

    </div>

    <!--
    <a href="#"> Mercantil Inca</a> | <a href="#">Despensa de La Selva</a> | <a href="#">Almacenes de la selva</a> | <a
      href="#">Despensa Peruana</a>

      <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 esconder-menu"><a href="#">Mercantil Inca</a></div>
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 esconder-menu"><a href="#">Despensa de La Selva</a></div>
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 esconder-menu"><a href="#">Almacenes de la selva</a></div>
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 esconder-menu"><a href="#">Despensa Peruana</a></div>


    -->

  </div>
</header>
