<footer class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="container-footer">
          <div class="text-center">
            <img src="/assets/images/logo-withe.svg" alt="" />
          </div>
        </div>
        <div role="contentinfo" class="copyright">© Mi Despensa 2023</div>
      </div>

      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="container-footer info-2">
          <h5>MÁS INFORMACIÓN</h5>
          <a routerLink="/auth/register">Afíliate</a><br />
          <a routerLink="/terminos-y-condiciones">Política de privacidad</a><br />
          <a routerLink="/terminos-y-condiciones">Términos y condiciones</a><br />
          <a routerLink="/libro-de-reclamaciones"> Libro de reclamaciones </a>
          <br />
          <a routerLink="/acerca-de">Acerca de</a><br />
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="container-footer hora-2">
          <h5>HORARIO DE ATENCIÓN</h5>
          <p>
            Lunes a Sábado <br />
            9am - 6pm
          </p>
          <i class="fa-brands fa-whatsapp"></i> 936629483 <br />
          <i class="fa-regular fa-envelope"></i> soporte@midespensa.pe
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="container-footer sig-2">
          <h5>SÍGUENOS EN</h5>
          <a href="#"><i class="fa-brands fa-facebook-f fb-2"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>



      </div>

    </div>
  </div>
</footer>
