<div class="box-info tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active title1"
    id="list-productos"
    role="tabpanel"
    aria-labelledby="list-productos-list"
  >
    <div>
      <div class="row">
        <div class="col-4">
          <!-- product card -->
          <md-product-card></md-product-card>
        </div>
        <div class="col-4">
          <!-- product card -->
          <md-product-card></md-product-card>
        </div>
        <div class="col-4">
          <!-- product card -->
          <md-product-card></md-product-card>
        </div>
        <div class="col-4">
          <!-- product card -->
          <md-product-card></md-product-card>
        </div>
        <div class="col-4">
          <!-- product card -->
          <md-product-card></md-product-card>
        </div>

        <div class="col-4">
          <!-- product card -->
          <md-product-card></md-product-card>
        </div>

        <div class="col-4">
          <!-- product card -->
          <md-product-card></md-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
