<!--
  ***********
  main  header
  ***********
 -->
<div class="top-header">
  <!-- header -->
  <md-home-header></md-home-header>
  <!-- end header -->

  <!-- navbar -->
  <md-home-navbar></md-home-navbar>
  <!-- end navbar -->
</div>

<!-- end main header -->

<!-- breadcrums -->
<md-breadcrumbs></md-breadcrumbs>
<!-- end breadcrums -->

<!-- TODO: root content  -->
<section class="container">
  <div class="box-shopping-cart">
    <div class="row">
      <div class="col-7">
        <md-product-listing></md-product-listing>
      </div>

      <div class="col-4">
        <md-details-pane></md-details-pane>
      </div>
    </div>
  </div>
</section>

<!-- TODO: end root content  -->

<!-- footer -->
<md-footer></md-footer>
<!-- end footer -->
