<section class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="">Inicio</a>
    </li>
    /
    <li class="nav-item">
      <a class="nav-link" routerLink="/preguntas-frecuentes"><strong>Preguntas frecuentes</strong></a>
    </li>
  </ul>
</section>

<section class="container">
  <div class="box-tienesdudas">
    <h2>¿Tienes dudas?</h2>
    <div class="row">
      <!-- tab-nav -->
      <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-productos-list" data-bs-toggle="list"
            href="#list-productos" role="tab" aria-controls="list-productos">Productos</a>

          <a class="list-group-item list-group-item-action" id="list-mediosdepago-list" data-bs-toggle="list"
            href="#list-mediosdepago" role="tab" aria-controls="list-mediosdepago">Medios de pago</a>
          <a class="list-group-item list-group-item-action" id="list-procesosdepag-list" data-bs-toggle="list"
            href="#list-procesosdepag" role="tab" aria-controls="list-procesosdepag">Procesos de pago</a>

          <a class="list-group-item list-group-item-action" id="list-pedidos-list" data-bs-toggle="list"
            href="#list-pedidos" role="tab" aria-controls="list-pedidos">Pedidos</a>

          <a class="list-group-item list-group-item-action" id="list-entregas-list" data-bs-toggle="list"
            href="#list-entregas" role="tab" aria-controls="list-entregas">Entregas</a>

          <a class="list-group-item list-group-item-action" id="list-devolucionesyreem-list" data-bs-toggle="list"
            href="#list-devolucionesyreem" role="tab" aria-controls="list-devolucionesyreem">Devoluciones y
            reembolsos</a>
        </div>
      </div>
      <!-- end tb-nav -->
      <div class="col-8">
        <div class="box-info tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active title1" id="list-productos" role="tabpanel"
            aria-labelledby="list-productos-list">
            <h5>There is no one who loves pain itself, who seeks</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              veritatis accusantium nostrum cupiditate laboriosam dignissimos
              cum excepturi iste nulla, eum a accusamus hic corporis vel quasi
              aliquid animi odio autem. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Nostrum quam amet debitis porro nulla corrupti
              ipsa est perspiciatis quibusdam quaerat doloremque veniam sit,
              accusamus, sequi hic ullam eum dolorum recusandae! Lorem ipsum
              dolor, sit amet consectetur adipisicing elit.
            </p>
            <h5>There is no one who loves pain itself, who seeks</h5>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
              error voluptatem voluptates obcaecati dicta pariatur maxime facere
              laboriosam! Provident reprehenderit tenetur enim modi quisquam
              fugit incidunt repellat quasi, qui ullam. Lorem ipsum dolor, sit
              amet consectetur adipisicing elit. Ullam ut iure voluptatibus
              vitae ex suscipit eius quam sapiente corrupti. Doloremque nostrum
              veniam sed asperiores fuga, accusantium obcaecati ipsam inventore
              saepe.
            </p>
            <div class="title2">
              <h6>header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
              <h6>header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="list-mediosdepago" role="tabpanel" aria-labelledby="list-mediosdepago-list">
            <h5>T1. There is no one who loves pain itself, who seeks</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              veritatis accusantium nostrum cupiditate laboriosam dignissimos
              cum excepturi iste nulla, eum a accusamus hic corporis vel quasi
              aliquid animi odio autem. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Nostrum quam amet debitis porro nulla corrupti
              ipsa est perspiciatis quibusdam quaerat doloremque veniam sit,
              accusamus, sequi hic ullam eum dolorum recusandae! Lorem ipsum
              dolor, sit amet consectetur adipisicing elit. Veritatis expedita
              ad dolorum culpa impedit tenetur quo dolores a quam ipsam maxime,
              nesciunt facere atque cumque porro quas! Rem, tenetur aspernatur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
              quisquam quas molestiae laborum totam temporibus, modi mollitia
              hic vel sed reiciendis commodi ratione saepe, ipsum suscipit
              blanditiis facere eos veritatis? Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Aperiam deleniti, ad dignissimos
              sunt et obcaecati ipsam tempore natus ipsum pariatur animi iure
              reprehenderit unde eum dolor id alias sapiente facere. Lorem ipsum
              dolor sit, amet consectetur adipisicing elit. Sequi vel nam nemo
              soluta possimus accusamus alias eum harum iusto fuga! Placeat,
              commodi magnam pariatur aspernatur quia nihil praesentium deserunt
              saepe.
            </p>
            <div class="title2">
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="list-entregas" role="tabpanel" aria-labelledby="list-entregas-list">
            <h5>T1. There is no one who loves pain itself, who seeks</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              veritatis accusantium nostrum cupiditate laboriosam dignissimos
              cum excepturi iste nulla, eum a accusamus hic corporis vel quasi
              aliquid animi odio autem. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Nostrum quam amet debitis porro nulla corrupti
              ipsa est perspiciatis quibusdam quaerat doloremque veniam sit,
              accusamus, sequi hic ullam eum dolorum recusandae! Lorem ipsum
              dolor, sit amet consectetur adipisicing elit. Veritatis expedita
              ad dolorum culpa impedit tenetur quo dolores a quam ipsam maxime,
              nesciunt facere atque cumque porro quas! Rem, tenetur aspernatur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
              quisquam quas molestiae laborum totam temporibus, modi mollitia
              hic vel sed reiciendis commodi ratione saepe, ipsum suscipit
              blanditiis facere eos veritatis? Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Aperiam deleniti, ad dignissimos
              sunt et obcaecati ipsam tempore natus ipsum pariatur animi iure
              reprehenderit unde eum dolor id alias sapiente facere. Lorem ipsum
              dolor sit, amet consectetur adipisicing elit. Sequi vel nam nemo
              soluta possimus accusamus alias eum harum iusto fuga! Placeat,
              commodi magnam pariatur aspernatur quia nihil praesentium deserunt
              saepe.
            </p>
            <div class="title2">
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="list-devolucionesyreem" role="tabpanel"
            aria-labelledby="list-devolucionesyreem-list">
            <h5>T1. There is no one who loves pain itself, who seeks</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              veritatis accusantium nostrum cupiditate laboriosam dignissimos
              cum excepturi iste nulla, eum a accusamus hic corporis vel quasi
              aliquid animi odio autem. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Nostrum quam amet debitis porro nulla corrupti
              ipsa est perspiciatis quibusdam quaerat doloremque veniam sit,
              accusamus, sequi hic ullam eum dolorum recusandae! Lorem ipsum
              dolor, sit amet consectetur adipisicing elit. Veritatis expedita
              ad dolorum culpa impedit tenetur quo dolores a quam ipsam maxime,
              nesciunt facere atque cumque porro quas! Rem, tenetur aspernatur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
              quisquam quas molestiae laborum totam temporibus, modi mollitia
              hic vel sed reiciendis commodi ratione saepe, ipsum suscipit
              blanditiis facere eos veritatis? Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Aperiam deleniti, ad dignissimos
              sunt et obcaecati ipsam tempore natus ipsum pariatur animi iure
              reprehenderit unde eum dolor id alias sapiente facere. Lorem ipsum
              dolor sit, amet consectetur adipisicing elit. Sequi vel nam nemo
              soluta possimus accusamus alias eum harum iusto fuga! Placeat,
              commodi magnam pariatur aspernatur quia nihil praesentium deserunt
              saepe.
            </p>
            <div class="title2">
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="list-procesosdepag" role="tabpanel" aria-labelledby="list-procesosdepag-list">
            <h5>T1. There is no one who loves pain itself, who seeks</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              veritatis accusantium nostrum cupiditate laboriosam dignissimos
              cum excepturi iste nulla, eum a accusamus hic corporis vel quasi
              aliquid animi odio autem. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Nostrum quam amet debitis porro nulla corrupti
              ipsa est perspiciatis quibusdam quaerat doloremque veniam sit,
              accusamus, sequi hic ullam eum dolorum recusandae! Lorem ipsum
              dolor, sit amet consectetur adipisicing elit. Veritatis expedita
              ad dolorum culpa impedit tenetur quo dolores a quam ipsam maxime,
              nesciunt facere atque cumque porro quas! Rem, tenetur aspernatur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
              quisquam quas molestiae laborum totam temporibus, modi mollitia
              hic vel sed reiciendis commodi ratione saepe, ipsum suscipit
              blanditiis facere eos veritatis? Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Aperiam deleniti, ad dignissimos
              sunt et obcaecati ipsam tempore natus ipsum pariatur animi iure
              reprehenderit unde eum dolor id alias sapiente facere. Lorem ipsum
              dolor sit, amet consectetur adipisicing elit. Sequi vel nam nemo
              soluta possimus accusamus alias eum harum iusto fuga! Placeat,
              commodi magnam pariatur aspernatur quia nihil praesentium deserunt
              saepe.
            </p>
            <div class="title2">
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="list-pedidos" role="tabpanel" aria-labelledby="list-pedidos-list">
            <h5>T1. There is no one who loves pain itself, who seeks</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              veritatis accusantium nostrum cupiditate laboriosam dignissimos
              cum excepturi iste nulla, eum a accusamus hic corporis vel quasi
              aliquid animi odio autem. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Nostrum quam amet debitis porro nulla corrupti
              ipsa est perspiciatis quibusdam quaerat doloremque veniam sit,
              accusamus, sequi hic ullam eum dolorum recusandae! Lorem ipsum
              dolor, sit amet consectetur adipisicing elit. Veritatis expedita
              ad dolorum culpa impedit tenetur quo dolores a quam ipsam maxime,
              nesciunt facere atque cumque porro quas! Rem, tenetur aspernatur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
              quisquam quas molestiae laborum totam temporibus, modi mollitia
              hic vel sed reiciendis commodi ratione saepe, ipsum suscipit
              blanditiis facere eos veritatis? Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Aperiam deleniti, ad dignissimos
              sunt et obcaecati ipsam tempore natus ipsum pariatur animi iure
              reprehenderit unde eum dolor id alias sapiente facere. Lorem ipsum
              dolor sit, amet consectetur adipisicing elit. Sequi vel nam nemo
              soluta possimus accusamus alias eum harum iusto fuga! Placeat,
              commodi magnam pariatur aspernatur quia nihil praesentium deserunt
              saepe.
            </p>
            <div class="title2">
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
              <h6>T2. header level two</h6>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iure consequuntur voluptates dignissimos quos magnam, nisi fugit
                animi. Dolorem voluptatum modi aspernatur id suscipit est odio
                error molestias. Modi, tempore!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- customer-suport -->
<md-customer-support></md-customer-support>
<!-- end customer support -->
