<div class="box-info border-primary tab-content">
  <div
    class="tab-pane fade show active"
    id="list-direcentregas"
    role="tabpanel"
    aria-labelledby="list-direcentregas-list"
  >
    <h5>Mis direcciones de entrega</h5>
    <div class="row">
      <div class="col-6">
        <div class="borde-cuadro">
          <h6>Av. 8 de octubre #218</h6>
          <p>Chiclayo, Lambayeque</p>
          <label> Ubicación predeterminada</label>
        </div>
      </div>
      <div class="col-6 ali">
        <div class="borde-cuadro">
          <h6>Jr. Libertad #175</h6>
          <p>La Victoria, Lambayeque</p>
        </div>
      </div>
    </div>
  </div>
</div>
