<div class="row">
  <div class="col-4" *ngFor="let i of [1,2,3,4,5,6,7]">
    <div class="box-producto">
        <div class="pro-imagen">
            <img src="/assets/images/product-loader.svg" alt="">
        </div>
        <div class="pro-detalles">
             <h5 class="numbers">superPROMO</h5>
            <span>Compra 6 paquetes lleva 2 más sin costo</span>
            <div class="btn-accss text-center">
                <a routerLink="/bonificaciones/carrito" type="button" class="btn btn-outline-danger">Ver Boni</a>
            </div>
        </div>
    </div>
  </div>
</div>
