<div class="box-info tab-content border-primary">
  <div class="tab-pane fade show active title1">
    <h5>Nuevo reclamo</h5>
    <div class="form-nuevo-recla">
      <div class="row align-items-start">
        <div class="col-8">
          <label for="">Asunto</label><br />
          <input
            type="text"
            placeholder="Describe en breves palabras el caso"
          />
        </div>
        <div class="col-4">
          <label for="">Tipo</label><br />
          <i class="fa-regular fa-circle"></i> Queja <br />
          <i class="fa-solid fa-circle"></i> Reclamo
        </div>
        <label for="">Solicitud</label> <br />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="¿Que solicita?"
          style="height: 100px"
        ></textarea>
        <br />
        <label for="">Descripción del asunto</label> <br />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Expecifique su caso y lo sucedido"
          style="height: 160px"
        ></textarea>
      </div>
    </div>

    <div class="text-center">
      <button
        type="button"
        class="btn btn-accss btn-outline-danger"
        (click)="register()"
      >
        Enviar
      </button>
    </div>
  </div>
</div>
