.tab-pane .row {
  --bs-gutter-x: 0;
  padding: 0 12px;
}
.tab-pane .row h6 {
  font-weight: bold;
  font-size: 18px;
}

.box-info {
  margin: 0px 10px;
  max-width: 800px;
}

.box-info h5 {
  padding: 16px 20px;
  background-color: #e8e8e8;
  font-size: 19px;
}
/*------ boton nuevo reclamo---*/
.btn-accss {
  align-items: center;
  border-radius: 50px;
  padding: 4px 60px;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border-color: #e2032b;
  --bs-btn-hover-bg: #e2032b;
  --bs-btn-hover-border-color: #e2032b;
  --bs-btn-active-bg: #e2032b;
  --bs-btn-active-border-color: #e2032b;
  --bs-btn-hover-color: #fff;
  --bs-btn-color: #fff;
  --bs-btn-bg: #e2032b;
}

/*------información de reclamos---*/
.box-info .borde-cuadro {
  border: solid 1px #c2c2c2;
  height: 108px;
  padding: 16px 20px;
  border-radius: 10px;
  margin: 16px 14px;
}
.box-info .borde-cuadro .col-8 {
  width: 65%;
}

.box-info .form-nuevo-recla {
  padding: 8px 30px;
}
.box-info .form-nuevo-recla label {
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 30px;
}
.box-info .form-nuevo-recla input {
  background-color: #f5f5f5;
  width: 330px;
  border: #c2c2c2 solid 1px;
  padding-left: 10px;
}
.box-info .form-nuevo-recla textarea {
  background-color: #f5f5f5;
  border: #c2c2c2 solid 1px;
  padding-left: 10px;
}
.box-info .form-nuevo-recla i {
  font-size: 10px;
  padding: 0px 16px 12px 0;
}
