<div class="box-info2">
  <div class="sub-titulo">
    <h5>Resumen</h5>
  </div>
  <div class="box-inf2-content">
    <div class="row">
      <div class="col-7">
        <h4>Neto</h4>
      </div>
      <div class="col-4">
        <span>-</span>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <h4>Envío</h4>
      </div>
      <div class="col-4">
        <span>-</span>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <h4>Impuestos</h4>
      </div>
      <div class="col-4">
        <span>-</span>
      </div>
    </div>
    <div class="row subtotal">
      <div class="col-7">
        <h6>Subtotal</h6>
      </div>
      <div class="col-4">
        <span>-</span>
      </div>
    </div>
    <div class="btn-accss text-end">
      <a href="" type="button" class="btn btn-light disabled"
        >Procesar compra</a
      >
    </div>
  </div>
</div>
