<nav class="bg-gray">
  <div class="container menu-container">

    <!-- Logo -->
    <div class="logo">
      <div class="logo-container bg-primary">
        <a routerLink=""
          ><img
            src="/assets/images/logo-withe.svg"
            atl="Logo Mi Despensa"
            title="Mi Despensa"
        /></a>
      </div>
    </div>

    <!-- Menu-Nav -->
    <div class="menu">
      <div class="row">
        <ul class="nav">

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/"
                fragment="beneficios"
                routerLinkActiveOptions="{exact: true}"
              >
                Beneficios</a
              >
            </li>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/"
                fragment="cobertura"
                routerLinkActiveOptions="{exact: true}"
                >Cobertura</a
              >
            </li>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/"
                fragment="funcionamiento"
                routerLinkActiveOptions="{exact: true}"
                >Funcionamiento</a
              >
            </li>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/"
                fragment="tienes-dudas"
                routerLinkActiveOptions="{exact: true}"
                >¿Tienes dudas?</a
              >
            </li>
          </div>

        </ul>
      </div>
    </div>

    <!-- Botones -->
    <div class="btn-access text-end">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <a
          routerLink="auth/login"
          class="btn btn-outline-primary text-primary mr-7"
          >Accede</a>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <a
          routerLink="afiliate"
          class="btn btn-outline-primary text-primary"
          >Afíliate</a>
        </div>
      </div>
    </div>

  </div>
</nav>
