/* Menu */
nav .menu-container {
  display: inline-flex;
  position: relative;
  height: 70px;
  align-items: center;

}
nav .logo {
  width: 120px;
}

nav .logo .logo-container {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  position: absolute;
  border: 6px #ffffff solid;
  top: -32px;
}
nav .logo .logo-container img {
  width: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav .menu {
  width: calc(100% - 436px);
  padding-left: 12px;
  font-weight: 500;
}
nav .btn-access {
  width: 280px;
}
nav .btn-access .btn {
  padding: 4px 28px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  margin-right: 24px;
  border-color: #e2032b;
  --bs-btn-hover-bg: #e2032b;
  --bs-btn-hover-border-color: #e2032b;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: #e2032b;
}
.mr-7 {
  margin-right: 1px !important;
}
nav .btn-access .btn:hover {
  color: #ffffff !important;
}
nav .nav-link,
nav .nav-link:hover,
nav .nav-link:visited {
  color: #333333;
  font-size: 17px;
}

@media(max-width: 600px){
  nav .menu{
    display: none;
  }
}

@media(max-width: 450px){
  nav .menu{
    display: none;
  }

  nav .btn-access {

    width: 50%;
    align-items:end;

  }

  nav .btn-access .btn {
    width: 35%;
    height: 30px ;
    display:flexbox;
    padding: 4px 12px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
    margin-right: 20px;
    border-color: #e2032b;
    --bs-btn-hover-bg: #e2032b;
    --bs-btn-hover-border-color: #e2032b;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #e2032b;
  }

}

