<nav class="bg-gray">
  <div class="container menu-container">

    <!-- Logo -->
    <div class="logo">
      <div class="logo-container bg-primary">
        <a routerLink=""
          ><img
            src="/assets/images/logo-withe.svg"
            atl="Logo Mi Despensa"
            title="Mi Despensa"
        /></a>
      </div>
    </div>

    <!-- Menu-Nav -->
    <div class="menu">
      <div class="row">
        <ul class="nav">


            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/"
                fragment="beneficios"
                routerLinkActiveOptions="{exact: true}"
              >
                Beneficios</a
              >
            </li>



            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/"
                fragment="cobertura"
                routerLinkActiveOptions="{exact: true}"
                >Cobertura</a
              >
            </li>



            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/"
                fragment="funcionamiento"
                routerLinkActiveOptions="{exact: true}"
                >Funcionamiento</a
              >
            </li>



            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/"
                fragment="tienes-dudas"
                routerLinkActiveOptions="{exact: true}"
                >¿Tienes dudas?</a
              >
            </li>


        </ul>
      </div>
    </div>

    <!-- Botones -->
    <div class="btn-access text-end">


          <a
          routerLink="auth/login"
          class="btn btn-outline-primary text-primary mr-7"
          >Accede</a>
          <a
          routerLink="afiliate"
          class="btn btn-outline-primary text-primary"
          >Afíliate</a>


    </div>

  </div>
</nav>
