<div class="box-info tab-content border-primary">
  <div class="tab-pane fade show active title1">
    <h5>Historial de reclamos (4)</h5>

    <div class="text-center">
      <button
        type="button"
        class="btn btn-accss btn-outline-danger"
        (click)="changeFormTo('new-claim')"
      >
        Nuevo reclamo
      </button>
    </div>

    <div class="borde-cuadro">
      <div class="row">
        <div class="col-8">
          <h6>No llegan productos</h6>
          <p>18/05/2022</p>
          <p>ID: 1668</p>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5">
              <p>Estado:</p>
            </div>
            <div class="col-6">
              <label class="btn-enproceso">En proceso</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="borde-cuadro">
      <div class="row">
        <div class="col-8">
          <h6>Productos dañados</h6>
          <p>08/04/2022</p>
          <p>ID: 1277</p>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5">
              <p>Estado:</p>
            </div>
            <div class="col-6">
              <label class="btn-solucionado">Solucionado</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="borde-cuadro">
      <div class="row">
        <div class="col-8">
          <h6>Tardanza</h6>
          <p>14/03/2022</p>
          <p>ID: 0985</p>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5">
              <p>Estado:</p>
            </div>
            <div class="col-6">
              <label class="btn-solucionado">Solucionado</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="borde-cuadro">
      <div class="row">
        <div class="col-8">
          <h6>Devolución</h6>
          <p>12/09/2021</p>
          <p>ID: 0685</p>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5">
              <p>Estado:</p>
            </div>
            <div class="col-6">
              <label class="btn-rechazado">Rechazado</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
