<section class="container">
  <div class="content-general">
      <div class="logo text-center">
          <div class="logo-container bg-primary">
              <a routerLink="" ><img src="/assets/images/logo-withe.svg" atl="Logo Mi Despensa"/></a>
          </div>
      </div>

      <div class="box-content">
          <h4>Afíliate a Mi Despensa</h4>
          <div class="row">
              <div class="col-sm-5 col-md-6">
                  <div class="caja" type="button">
                      <a routerLink="/auth/valida-tu-identidad">
                      <img src="/assets/images/Borrador_img_1.jpg" alt="">
                      <hr>
                      <h6>Ya soy cliente</h6>
                      </a>
                  </div>
                  <p class="parraf-1">Si estás afiliado a Despensa Peruana, Almacenes de la Selva o Despensa de la Selva</p>
              </div>
              <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                  <div class="caja" type="button">
                      <a routerLink="/auth/register">
                      <img src="/assets/images/Borrador_img_2.jpg" alt="">
                      <hr>
                      <h6>Quiero ser cliente</h6>
                      </a>
                  </div>
                  <p class="parraf-2">Si aún no eres cliente y quieres crear una cuenta</p>
              </div>
          </div>

          <div class="text-center">
              <strong>o</strong> <br>
              <a routerLink="/auth/login" type="button" class="btn btn-outline-danger">Iniciar sesión</a>
          </div>
      </div>
  </div>
</section>
